# Copy this file to .env and fill in your real values.
DIVVYDIARY_API_KEY=your_api_key_here
DIVVYDIARY_USER_ID=
DIVVYDIARY_PORTFOLIO_ID=
DIVVYDIARY_LOG_LEVEL=DEBUG

# Use a Google Cloud Storage Bucket for cloud storage, authenticate via gcp_project_account_secret.json in root directory
DIVVYDIARY_GCS_BUCKET=my-gcs-bucket
DIVVYDIARY_GCS_CREDENTIALS_FILE=my-credentials-file.json